#hidden {
    display: none;
}

.results-list {
    position: absolute;
    width: 418px;
    background-color: #ffffff80;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 20px;
    max-height: 300px;
    display: block;
    overflow-y: scroll;
    margin-top: 1.5rem;
    margin-left: 13px;
}

.results-list::-webkit-scrollbar {
    width: 0px;
}

.search-result {
    width: 100%;
    padding: 10px 20px;
}

.search-result:hover {
    background-color: #fffffff6;

}

@media(max-width: 768px) {
    .results-list {
        width: 180px;
        margin-left: 0px;
    }
}