$backGround : #d7dbe4;
$titulos: #285480;
$butonColor: #285480;
$parrafo: 'Open Sans',
sans-serif;
$titulo: 'Montserrat',
sans-serif;

.contact-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/background/007.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    // division de pantalla en onda\\ 
    .custom-shape-divider-top-1738175201 {
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-top-1738175201 svg {
        position: relative;
        top: 0;
        display: block;
        width: calc(137% + 1.3px);
        height: 195px;
    }

    .custom-shape-divider-top-1738175201 .shape-fill {
        fill: #fff;
    }

    /** For mobile devices **/
    @media (max-width: 767px) {
        .custom-shape-divider-top-1738181847 svg {
            width: calc(100% + 1.3px);
            height: 79px;
        }
    }

    // contenido
    .contact-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        .contact-box {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            padding: 2rem;

            .titulo {
                font-family: $titulo;
                font-size: 2.5rem;
                margin: 0;
                margin-bottom: 2rem;
                color: #fff;
            }
        }

        .form_contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: normal;
            padding: 2rem;
            gap: 2rem;
            
            box-shadow: 0px 0px 9px -4px rgba(255, 255, 255, 0.75);
            border-radius: 15px;

            .fullname_inputs {
                display: flex;
                flex-direction: row;
                gap: 2rem;
                width: 100%;
            }

            .input-group {
                position: relative;

                #email,
                #phone {
                    width: 96%;
                }
            }

            .input-group__input {
                font: inherit;
                color: #000;
                padding: 10px;
                border: none;
                border-bottom: 1px solid #fff;
                border-radius: 4px;
                outline: 2px solid #ffffff00;
                background-color: transparent;
                transition: outline-color 500ms;
                font-family: $titulo;
            }

            .input-group__input:is(:focus, :valid) {
                outline-color: #fff;
            }

            .input-group__label {
                position: absolute;
                top: 0;
                left: 0;
                translate: 10px 10px;
                color: $backGround;
                transition: translate 500ms, scale 500ms;
            }

            .input-group__input:focus+.input-group__label,
            .input-group__input:valid+.input-group__label {
                padding-inline: 5px;
                translate: 10px -14px;
                scale: 0.8;
                background-color: #4d5052;
                border-radius: 5px;
                color: #fff;
                font-family: $parrafo;
                font-weight: bold;
                font-size: large;
                padding: 3px;

            }

            .contact-textarea {
                width: 96%;
                height: 10rem;
                border: none;
                outline: none;
                resize: none;
                overflow-y: auto;
                scrollbar-width: auto;
                scrollbar-color: $butonColor $backGround;
                padding: 0.5rem;
                border-radius: 15px;
                scrollbar-width: thin;
            }

            .emailbutton {
                width: 30%;
                padding: 0.5rem;
                border-radius: 14px;
                background-color: #fff;
                box-shadow: 0px 0px 5px 2px rgba(245, 245, 245, 0.81);
                font-size: large;
                font-family: $titulo;
                transition: all 500ms;

                &:hover,
                &:focus {
                    background-color: #285480;
                    box-shadow: 0px 0px 3px 1px rgba(46, 114, 170, 0.81);
                    color: #fff;
                }
            }
        }

    }



    // info style\\

    .info-container {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .triangle-horizontal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 25rem;
            height: 25rem;
            background: #fff; // Color de fondo
            border-radius: 20% 80% 77% 23% / 46% 48% 52% 53%;
            box-shadow: -1px 0px 10px 2px rgba(151, 143, 143, 0.81);

            .triangle-data {
                display: block;
                justify-content: center;
                align-items: start;
                width: 100%;
                margin-left: 8rem;

                .titulo-box {
                    font-size: 2rem;
                    font-family: $titulo;
                    color: #012c57;
                    margin: 0px;
                }

                .line-block {
                    width: 8rem;
                    height: 0.5rem;
                    background-color: #4ba2f8;
                    margin-bottom: 1rem;
                }

                .data-box {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;

                    padding: 5px;
                    gap: 1rem;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

                    .icon-triangle {
                        font-size: 20px;
                        color: $titulos;
                    }

                    p {
                        font-family: $parrafo;
                        font-weight: 500;
                        font-size: small;
                    }
                }
            }
        }

    }
}