$backGround : #d7dbe4;
$titulos: #285480;
$butonColor: #285480;
$parrafo: 'Open Sans',
sans-serif;
$titulo: 'Montserrat',
sans-serif;

.contenedor {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3rem;

    .caja-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        .photo {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            width: 100%;


            .preview-change {
                width: 2rem;
                height: 2rem;
                font-size: 1.8rem;
                position: relative;
                top: 12rem;
                left: 4.5rem;
                border: 2px solid $backGround;
                border-radius: 50%;
                padding: 0.5rem;
                background: #fff;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                .icon {

                    cursor: pointer;
                    color: $backGround;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    border: 2px solid $butonColor;

                    .icon {
                        color: $titulos;
                    }
                }
            }


            .preview-img,
            .preview-undifined {
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 2px dotted $backGround;
                width: 12rem;
                height: 12rem;
                border-radius: 50%;
                background-color: #fff;
                color: $backGround;

                img {
                    width: 12rem;
                    height: 12rem;
                    border-radius: 50%;
                    text-align: center;
                    object-fit: cover;
                    font-size: 3em;
                }
            }
        }

    }

    //? rigth box \\
    .caja-rigth {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .form-box {
            width: 100%;

            .formulario {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80%;
                gap: 10px;
                background-color: $backGround;
                padding: 2rem;
                gap: 30px;

                .input-group {
                    position: relative;

                }

                .input-group__input {
                    font: inherit;
                    color: #fff;
                    padding: 10px;
                    border: none;
                    border-radius: 4px;
                    outline: 2px solid #fff;
                    background-color: transparent;
                    transition: outline-color 500ms;
                    font-family: $titulo;
                }

                .input-group__input:is(:focus, :valid) {
                    outline-color: $butonColor;
                }

                .input-group__label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    translate: 10px 10px;
                    color: #fff;
                    transition: translate 500ms, scale 500ms;
                }

                .input-group__input:focus+.input-group__label,
                .input-group__input:valid+.input-group__label {
                    padding-inline: 5px;
                    translate: 10px -14px;
                    scale: 0.8;
                    background-color: #000;
                    font-family: $parrafo;
                }
            }
        }
    }
}