$backGround : #d7dbe4;
$titulos: #285480;
$butonColor: #285480;
$parrafo: 'Open Sans',
sans-serif;
$titulo: 'Montserrat',
sans-serif;

.home {

  .wellcome {
    display: flex;
    justify-content: space-between;
    background-size: cover;
    margin-bottom: 100px;
    width: 100%;
    height: 700px;
    text-align: center;
    transition: background-image 0.5s ease-in-out; // Ajusta la duración y la función de temporización según tus necesidades
    background-repeat: no-repeat;
    animation-duration: 1s;
  }
  .blogs-container{
    width: 100%;
    height: 600px;
    background-image: url("../assets/background/blog.png");
    background-size: cover;
  }
}