.register-contain {
    display: flex;
    align-items: start;
    justify-content: center;
    background-image: url("../assets/background/Registrarse.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3.65rem;

    .registro-box {
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 10px 10px 21px -5px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 21px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 21px -5px rgba(0, 0, 0, 0.75);

        .left {
            width: 50%;
            height: 450px;
            padding: 20px;
            background-color: #4e2c00;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                margin-top: -60px;
                max-width: 70%;
                height: auto;
            }

            .inicio {
                text-decoration: none;
            }

            button {
                margin: 0.5rem;
                margin-left: 0px;
                padding: 8px;
                background-color: #dee2f0;
                border: none;
                border-radius: 16px;
                color: #182540;
                font-size: 1rem;
                cursor: pointer;
                width: 100%;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: white;
                }

                span {

                    font-weight: 600;
                }
            }

        }

        .rigth {
            width: 50%;
            height: 450px;
            padding: 20px;
            background-color: #dee2f0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .info-register {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 3rem;

                h1 {
                    margin-bottom: 2rem;
                    font-size: 2rem;
                    color: #ba7738;
                }

                form {
                    width: 100%;
                    max-width: 400px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    input {
                        width: 100%;
                        padding: 10px;
                        margin-bottom: 10px;
                        border-radius: 16px;
                        border: 1px solid #bdc3c7;
                        background-color: #dee2f0;
                        font-size: 1rem;
                    }

                    .show-hide {
                        position: relative;
                        top: -2.4rem;
                        left: 6.2rem;
                    }

                    button {
                        padding: 8px;
                        background-color: #4e2c00;
                        border: none;
                        border-radius: 16px;
                        color: white;
                        font-size: 1rem;
                        cursor: pointer;
                        width: 100px;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: #ba7738;
                        }
                    }

                    .error {
                        color: rgb(185, 6, 6);
                        background-color: rgb(253, 167, 167);
                        padding: 0.5rem;
                        font-size: 1rem;
                        font-style: italic;
                        font-weight: 600;
                        margin-bottom: 0px;

                    }

                    span {
                        margin-top: 1rem;
                        font-size: 0.9rem;

                        a {
                            font-weight: 700;
                            color: #ba7738;
                            text-decoration: none;
                            transition: 0.3s ease;

                        
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .register-contain {
        height: 100%;
        padding: 100px 15px;

        .registro-box {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .left {
                width: 100%;
                transition: width 0.3s ease-in-out;

                img {
                    margin: 0px;
                    max-width: 100%;
                    height: auto;
                }

                button {
                    width: 100%;
                    transition: width 0.3s ease-in-out;
                }
            }

            .left.reduced-width {
                width: 50%;

                button {
                    width: 100%;
                }
            }

            .rigth {
                width: 100%;

                .info-register {
                    h1 {
                        font-size: 1.5rem;
                        text-align: center;
                    }

                    form {
                        input {
                            margin-bottom: 15px;
                        }

                        .show-hide {
                            position: relative;
                            top: -2.8rem;
                            left: 4rem;

                        }

                        .error {
                            font-size: 0.8rem;
                            text-align: center;
                        }

                        span {
                            text-wrap: pretty;
                            text-align: center;
                            line-height: 25px;
                        }

                    }
                }
            }
        }
    }
}