$backGround : #dee2f0;
$titulos: #285480;
$butonColor: #285480;
$parrafo: 'Open Sans',
sans-serif;
$titulo: 'Montserrat',
sans-serif;

.sinlge-contain {
  width: 100%;
  overflow: hidden;

  @media(max-width: 768px) {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }

  .postImg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    box-shadow: 0px 3px 18px -8px rgba(2, 17, 119, 0.48);
    margin-top: 3rem;
    transition: all 0.6s ease-in-out; // Animación suave
    transform-origin: center center;

    @media (max-width: 768px) {
      height: 400px; // base en mobile
    }
  }

  &.scroll {
    transform: scale(1.2); // aumenta tamaño al hacer scroll
  }

  .postImg.scroll {
    height: 60vh; // altura final
  }

  .loading {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #063567;
    margin: 0;
    padding: 0;
  }

  .scroll {

    @media(max-width: 768px) {
      margin-top: 9rem;
      object-fit: contain !important;
      height: auto;
    }
  }

  .single {
    display: flex;
    width: 100%;

    @media(max-width: 768px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0px;
      margin: 0px;

    }

    .content {
      display: flex;
      flex-direction: column;
      margin: 3rem 2rem;
      width: 60%;

      @media(max-width: 768px) {
        width: 100%;
        padding: 0px;
        margin: 0px;

      }

      //escucharnos
      .box-icon {
        background-color: $backGround;
        width: fit-content;
        border-radius: 15px;
        margin: 0;
        align-self: flex-end;
        padding: 0.5rem;
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.84);

        .icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;


          ul {
            display: flex;
            justify-content: center; // centrado horizontal
            align-items: center;
            gap: 10px; // espacio entre íconos
            padding: 0;
            margin: 0;
            list-style: none;
          }

          li {
            list-style: none;
          }

          .icon-podimo {
            width: 23px;
            height: 23px;
            margin-top: 2px;
            filter: brightness(0);
            transition: .5s;
            border-radius: 8px;
          }

          // Estilos generales para todos los íconos
          ul li a {
            width: 35px;
            height: 35px;
            margin: 0 5px;
            background-color: #fff;
            text-align: center;
            line-height: 35px; // igual a height para centrar verticalmente
            font-size: 25px;
            display: flex; // flex para centrar dentro
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            z-index: 1;
            cursor: pointer;
            transition: .5s;


            // Ícono interior
            .icon,
            .icon-podimo {
              transition: .5s;
              z-index: 3;
              color: #262626;
            }

            &:hover .icon {
              color: #fff;
              transform: rotateY(360deg);
            }

            &:hover .icon-podimo {
              transform: rotateY(360deg);
              filter: brightness(1) invert(0);
            }

            // Fondo de hover
            &::before {
              content: "";
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 100%;
              transition: .5s;
              z-index: 2;
            }

            &:hover::before {
              top: 0;
            }
          }

          // Colores de fondo individuales
          ul li:nth-child(1) a::before {
            background: rgb(7, 104, 4); // Spotify
          }

          ul li:nth-child(2) a::before {
            background: #d81507; // Youtube
          }

          ul li:nth-child(3) a::before {
            background: #794CF8; // Podimo
          }
        }
      }

      .titulo {
        margin-top: 2rem;
        font-family: $titulo;
        font-size: 50px;
        color: #070707;
        text-align: start;

        @media(max-width: 768px) {
          font-size: 40px;
          margin-top: 2rem;
          margin-left: 1rem;
        }
      }

      .box-parrafo {
        margin: 20px 0px;
        background-color: #fff;

        @media(max-width: 768px) {
          margin-top: 1rem;
        }
      }

      #parafos {
        font-size: large;
        font-family: $parrafo;
        text-align: justify;
        background-color: #fff;
        margin: 15px 15px;


        @media(max-width: 768px) {
          font-size: 1rem;
        }
      }

      .barra-contain {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: $backGround;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.84);
        z-index: 0;
        padding: 0.3rem 0;

        .barra-data {
          display: flex;
          justify-content: space-between; // user left - social right
          align-items: center;
          width: 100%;

          /* MOBILE: apilado */
          @media (max-width: 768px) {
            flex-direction: column;
            gap: 1rem;
          }

          /* ---------------- USER ---------------- */
          .user {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            width: 100%;

            @media (max-width: 768px) {
              justify-content: center;
              flex-wrap: wrap;
              text-align: center;
            }

            .imgUser {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;

              @media (min-width: 769px) {
                width: 70px;
                height: 70px;
              }
            }

            .info {
              display: flex;
              flex-direction: column;
              width: auto;

              .name {
                font-family: $parrafo;
                font-size: 1rem;
                font-weight: bolder;

                @media (min-width: 769px) {
                  font-size: 1.2rem;
                }
              }

              .p {
                margin: 0;
                font-size: 0.8rem;

                @media (min-width: 769px) {
                  font-size: 0.9rem;
                }
              }

              @media (max-width: 768px) {
                width: 100%;
                text-align: center;
              }
            }

            .edit {
              display: flex;
              gap: 10px;
              font-size: 20px;

              .editar,
              .delete {
                width: 30px;
                height: 30px;
                background-color: #fff;
                border-radius: 50%;
                cursor: pointer;
                transition: 0.2s ease-out;
                display: flex;
                align-items: center;
                justify-content: center;

                .fonticon {
                  transition: 0.1s;
                }

                &:active .fonticon {
                  transform: scale(0.9);
                }

                &:hover {
                  color: $butonColor;
                }
              }

              @media (max-width: 768px) {
                margin: 0.2rem 0;
              }
            }
          }

          /* ---------------- SOCIAL ICONS ---------------- */
          .social-icon {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            z-index: 0;

            @media (max-width: 768px) {
              justify-content: center;
              margin-bottom: 0.8rem;
            }

            .icons {
              ul {
                display: flex;
                padding: 0;
                margin: 0;
                gap: 0.5rem;

                li {
                  list-style: none;

                  a {
                    width: 35px;
                    height: 35px;
                    background-color: #fff;
                    text-align: center;
                    font-size: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;

                    &:before {
                      content: "";
                      position: absolute;
                      top: 100%;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      transition: 0.7s;
                      z-index: 1;
                    }

                    &:hover:before {
                      top: 0;
                    }

                    /* iconos dentro */
                    .icon-chat,
                    .chat,
                    .heart {
                      position: relative;
                      top: 5px;
                      transition: 0.7s;
                      margin-bottom: 0.5rem;
                    }

                    .heart {
                      color: #ce0505;
                    }

                    .chat {
                      color: #262626;
                      transform: rotateY(360deg);
                    }

                    .icon-chat {
                      color: #262626;
                      transform: rotateY(360deg);
                    }
                  }
                }
              }
            }
          }
        }
      }



    }

  }
}