$backGround : #dee2f0;
$titulos: #285480;
$butonColor: #285480;
$parrafo: 'Open Sans',
sans-serif;
$titulo: 'Montserrat',
sans-serif;

.sinlge-contain {
  width: 100%;
  overflow: hidden;

  @media(max-width: 768px) {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }

  .postImg {
    width: 100%;
    height: 560px;
    object-fit: fill;
    box-shadow: 0px 3px 18px -8px rgba(2, 17, 119, 0.48);
    margin-top: 3rem;
    transition: height 0.5s ease-in-out, object-fit 0.6s ease-in-out !important;

    @media(max-width: 768px) {
      height: 590px !important;
      object-fit: cover;
      transition: height 0.5s ease-in-out, object-fit 1s ease-in-out !important;
    }
  }

  .loading {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #063567;
    margin: 0;
    padding: 0;
  }

  .scroll {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-top: 3rem;
    transition: height 0.2s ease-in, object-fit 1s ease-in-out !important;
    box-shadow: 0px 3px 18px -8px rgba(2, 17, 119, 0.48);

    @media(max-width: 768px) {
      margin-top: 9rem;
      object-fit: contain !important;
      height: auto;
    }




  }

  .single {
    display: flex;
    width: 100%;

    @media(max-width: 768px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0px;
      margin: 0px;

    }

    .content {
      display: flex;
      flex-direction: column;
      margin: 3rem 2rem;
      width: 60%;

      @media(max-width: 768px) {
        width: 100%;
        padding: 0px;
        margin: 0px;

      }

      .titulo {
        margin-top: 2rem;
        font-family: $titulo;
        font-size: 50px;
        color: #070707;
        text-align: start;

        @media(max-width: 768px) {
          font-size: 40px;
          margin-top: 2rem;
          margin-left: 1rem;
        }
      }

      .box-parrafo {
        margin: 20px 0px;
        background-color: #fff;

        @media(max-width: 768px) {
          margin-top: 1rem;
        }
      }

      #parafos {
        font-size: large;
        font-family: $parrafo;
        text-align: justify;
        background-color: #fff;
        margin: 15px 15px;


        @media(max-width: 768px) {
          font-size: 1rem;
        }
      }

      .barra-contain {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        background-color: $backGround;
        border-radius: 0px 0px 15px 15px;
        box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.84);
        -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.84);
        -moz-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.84);
        z-index: 0;

        @media (max-width:768px) {
          width: 100%;
        }

        .barra-data {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          @media(max-width: 768px) {
            width: 80px;
          }

          .user {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            @media(max-width: 768px) {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
              margin: 1rem;
            }

            .imgUser {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
              margin: 0px 10px;

              @media(max-width: 768px) {
                width: 50px;
                height: 50px;
                margin-left: 2rem;
              }
            }

            .info {
              display: flex;
              flex-direction: column;
              justify-content: start;
              width: 100%;

              @media(max-width: 768px) {
                width: 120px;
                justify-content: center;
                text-align: center;
                padding: auto;
                margin: auto;

                .p {
                  font-size: 12px;
                }

              }

              .p {
                margin: 0px;
                align-items: center;
              }

              .name {
                font-family: $parrafo;
                font-size: 20px;
                font-weight: bolder;

              }
            }

            .edit {
              display: flex;
              font-size: 20px;
              text-align: center;
              line-height: 30px;

              @media (max-width:768px) {
                margin-top: 0.5rem;
              }

              .editar {
                width: 30px;
                height: 30px;
                background-color: #fff;
                border-radius: 50%;
                cursor: pointer;
                transition: 0.2s ease-out;
                margin: 0px 10px;

                .fonticon {
                  transition: 0.1s;
                }

                .fonticon:active {
                  transform: scale(0.90);
                }
              }

              .editar:hover {
                color: $butonColor;

              }

              .delete {
                width: 30px;
                height: 30px;
                background-color: #fff;
                border-radius: 50%;
                cursor: pointer;
                transition: 0.2s ease-out;

                .fonticon {
                  transition: 0.1s;
                }

                .fonticon:active {
                  transform: scale(0.90);
                }
              }

              .delete:hover {
                color: $butonColor;

              }
            }

          }

        }


        .social-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          z-index: 0;

          @media (max-width:768px) {
            width: 165px;
          }

          .icons {
            width: 100%;

            ul {
              display: inline-flex;
              width: 100%;
            }

            li {
              list-style: none;

            }

            ul li {
              position: relative;
              top: 0;
              right: 0;

              @media (max-width:768px) {
                top: -1rem;
                right: 1.5rem;
              }
            }

            ul li a {
              width: 35px;
              height: 35px;
              margin-left: 10px;
              background-color: #fff;
              text-align: center;
              font-size: 25px;
              display: block;
              border-radius: 50%;
              position: relative;
              overflow: hidden;
              z-index: 1;
              cursor: pointer;
            }

            ul li a .icon-chat {
              position: relative;
              top: 5px;
              color: #262626;
              transition: 0.7s;
              z-index: 1;
            }

            ul li a .heart {
              position: relative;
              color: #ce0505;
              transition: 0.7s;
              transform: rotateY(360deg);
            }

            ul li a .chat {
              position: relative;
              color: #262626;
              transition: 0.7s;
              transform: rotateY(360deg);
            }

            ul li .chat,
            .heart {
              position: relative;
              top: 5px;

            }

            ul li a:before {
              content: "";
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 100%;
              transition: 0.7s;
              z-index: 1;
            }

            ul li a:hover:before {
              top: 0;
            }
          }
        }


        //escucharnos
        .icon{
          display: flex;
          flex-direction: column;
          width: 100%;

          @media (max-width:768px) {}

          ul {
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
          }

          li {
            list-style: none;
          }

          ul li a {
            width: 35px;
            height: 35px;
            margin: 0px 5px;
            background-color: #fff;
            text-align: center;
            line-height: 10px;
            font-size: 25px;
            display: block;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            z-index: 1;
            cursor: pointer;

            @media (max-width:768px) {
              top: -1rem;
              right: -2rem;
            }
          }

          ul li a .icon {
            position: relative;
            top: 5px;
            color: #262626;
            transition: .5s;
            z-index: 3;

          }

          ul li a:hover .icon {
            color: #ffffff;
            transform: rotateY(360deg);
          }

          ul li a:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f00;
            transition: .5s;
            z-index: 2;
          }

          ul li a:hover:before {
            top: 0;
          }

          ul li:nth-child(1) a:before {
            background: rgb(7, 104, 4);
          }

          ul li:nth-child(2) a:before {
            background: #d81507;
          }
        }

      }

    }

  }
}