$backGround : #d7dbe4;
$titulos: #285480;
$butonColor: #285480;
$parrafo: 'Open Sans',
sans-serif;
$titulo: 'Montserrat',
sans-serif;

.likes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .counter { 
        text-align: center;
        position: relative;
        top: 1.2rem;
        right: -1.4rem;
        background-color: #fff;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        font-size: 15px;
        line-height: 2%;
        font-weight: bolder;
        margin: 0px;
        color: $titulos;
        font-family: $titulo;
        z-index: 999;
    }
}