$backGround : #d7dbe4;
$titulos: #285480;
$butonColor: #285480;
$parrafo: 'Open Sans',
sans-serif;
$titulo: 'Montserrat',
sans-serif;
//? monserrat  font-family: 'Montserrat', sans-serif; titulos
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
//? open sans font-family: 'Open Sans', sans-serif; parrafos
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 100%;

    .link {
      text-decoration: none;
      color: inherit;

    }
  }

}