$backGround : #d7dbe4;
$titulos: #285480;
$butonColor: #285480;
$parrafo: 'Open Sans',
sans-serif;
$titulo: 'Montserrat',
sans-serif;

.banner {
    width: 40%;
    margin: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: 0.8s ease-in-out; // Ajusta la duración y la función de temporización según tus necesidades

    .wrap {
        color: #fff;
        line-height: 60px;
        font-family: $parrafo;
        font-size: 45px;
        transition: 0.9s ease-in-out; // Ajusta la duración y la función de temporización según tus necesidades
    }
    @media (max-width: 768px) {
        width: 40%; // Aumenta aún más el ancho en pantallas más pequeñas
        height: 50%;
        .wrap {
          font-size: 15px; // Reduce más el tamaño de la fuente en pantallas más pequeñas
          line-height: 20px; // Ajusta más la altura de línea en pantallas más pequeñas
        }
      }
    
      @media (max-width: 480px) {
        width: 40%; // Utiliza todo el ancho disponible en pantallas muy pequeñas
        margin-left: 30px;
        .wrap {
          font-size: 15px;
          line-height: 15px; 
        }}
}
