$backGround: #d7dbe4;
$titulos: #285480;
$butonColor: #285480;
$parrafo: 'Open Sans',
sans-serif;
$titulo: 'Montserrat',
sans-serif;

.scrolled {}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 0;
  background: linear-gradient(90deg, rgba(149, 149, 156, 1) 0%, rgba(87, 87, 92, 1) 20%, rgba(55, 55, 57, 0.944) 50%, rgba(88, 88, 93, 1) 80%, rgba(149, 149, 156, 1) 100%);
  position: fixed;
  z-index: 9999;

  .container-navbar {
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;

    .search-bar {
      flex-grow: 1; // Para que ocupe el espacio disponible
      margin-left: 10px;
      margin-right: 10px;
    }

    .burguer {
      @media (min-width: 768px) {
        display: none;
      }
    }

    .logo {
      img {
        width: 60px;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 15px;

      a {
        color: #fff;
        font-size: 1.2rem;
        cursor: pointer;
      }

      @media (max-width: 768px) {
        position: absolute;
        width: 100%;
        top: -700px;
        left: -2000px;
        margin: 0 auto;
        text-align: center;
        transition: top 1s ease-out, left 0.3s ease-in;

        &.active {
          top: 50px;
          left: 0;
          width: 100%;
          height: 800px;
          display: flex;
          flex-direction: column;
          background-color: rgba(87, 87, 92, 0.644);

          a {
            display: block;
            font-size: 2rem;
            margin: 10px 15px;
          }
        }
      }
    }

    .custom-select-navbar {
      display: flex;
      justify-content: center;

      a {
        margin: 15px 5px 15px 15px;
        color: #fff;
        cursor: pointer;
      }

      .imgUSer {
        width: 40px;
        height: 40px;
        border: 3px solid #fff;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 11px -3px rgba(241, 241, 241, 0.71);
      }
    }
  }
}

@media (max-width: 768px) {
  #navbar {
    width: 100%;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
  }

  .container-navbar {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;

    .search-bar {
      width: auto;
      margin: 0px;
      padding: 0px;
    }


    .custom-select-navbar {
      width: auto;
      padding: 0px;
      margin: 0px;

      a {
        font-size: 15px;

      }
    }
  }
}